Pre-process/pipeline_container/.cellranger-6.1.2
Pre-process/pipeline_container/.cellranger-6.1.2/*
Pre-process/pipeline_container/user-settings.mkfg
Pre-process/pipeline_container/ref
Pre-process/pipeline_container/samples.csv
Pre-process/pipeline_container/main.LOG
Pre-process/scripts/samples.csv
Pre-process/scripts/test
Pre-process/scripts/main.LOG
Merge_bath-correct/swarm_particles/SMM*
Merge_bath-correct/swarm_particles/.envs
Merge_bath-correct/swarm_particles/report.log
Merge_bath-correct/scripts/.vscode/*
Merge_bath-correct/swarm_particles/.vscode/*
Pre-process/download_sam_container/user-settings.mkfg
Cell_type-Annotation/ref/triana_clean.Rds
*.h5ad
*.png
Reports/.ipynb_checkpoints/
Pre-process/pipeline_container/SAMN15892706/
Pre-process/pipeline_container/main.LOG
Reports/Untitled.ipynb
Reports/Untitled1.ipynb
Differential_Gene_Expression/libra_container/.Rhistory
Differential_Gene_Expression/libra_container/.local/
Differential_Gene_Expression/libra_container/.config/
Differential_Gene_Expression/libra_container/.bash_history
Differential_Gene_Expression/libra_container/rstudio/
rstudio/
*.RDS
*.Rds
Trajectories/LOG
Trajectories/slingshot_container/LOG
Trajectories/Clustering.Rmd
Trajectories/GO_clouds.Rmd
*.csv
Trajectories/rstudio_server*

Trajectories/slingshot_container/DelayedMatrixStats_1.20.0.tar.gz
Trajectories/.Rhistory
Trajectories/trajectories.html
Trajectories/trajectories.Rmd
Transcription_factors/scenic_container/log
Transcription_factors/.cache/deno/dep_analysis_cache_v1
Transcription_factors/cisTarget_databases/
Transcription_factors/Data/.Rhistory
Transcription_factors/.venv/
