params{
 latent = '5, 10, 20'
 knn = '5, 10, 15, 20'
 hvg = '2000, 4000, 6000'
 batch_key='orig.ident'
 celltype_key='label'
}


profiles {
   singularity {
    singularity.enabled = true
    process.container = '/home/jacopo/batch_nf/batch_correct.sif'
    process.containerOptions = '-B /home/jacopo/batch_nf/data'
  }
}
